@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

button {
  border: none;
}

.pomodoro {
  display: none !important;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: cornflowerblue;
}

.pomodoro .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
  gap: 0.5rem;
}

.pomodoro .tagline {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

img {
  width: 20px;
  display: inline-block;
}

.pomodoro .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.pomodoro .btn-container > button {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #d3dae0;
}

.pomodoro .btn-container > button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.btn-container > button:hover:after {
  opacity: 1;
  right: 10px;
}

.btn-container > button:after {
  content: "\00BB";
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  transition: 0.4s;
}

.pomodoro div:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer {
  width: 250px;
  height: 250px;
  display: block;
  background-color: lightcoral;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.timer nav div:nth-child(1) {
  place-self: flex-start;
}

.timer nav .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
  align-self: right;
  cursor: pointer;
}

.timer nav .buttons button:nth-child(1) {
  height: 1rem;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;
  border: none;
}

.timer nav .buttons button:nth-child(2) {
  height: 1rem;
  aspect-ratio: 1;
  background-color: yellow;
  border-radius: 50%;
  border: none;
}

.timer .time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.timer .play-pause {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.timer .play-pause > button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.timer .play-pause > button:nth-child(1) {
  background-color: #3a86ff;
}

.timer .play-pause > button:nth-child(2) {
  background-color: #d00000;
}
