@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  background: #f5f5f5;
  margin: 50px;
}
.wrapper {
  width: 300px;
  align-items: center;
  text-align: center;
}
h1 {
  font-weight: 700;
  align-items: center;
  vertical-align: middle;
}
img {
  width: 20px;
  display: inline-block;
}
h3 {
  font-weight: 600;
}
