@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

body {
  border: 3px solid black;
  width: 309px;
}

/* Pomodoro */
.pomodoro {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  grid-template-rows: 3fr 1fr;
}

.logo {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 1%;
  left: 20%;
  gap: 0.5rem;
}

.logo img {
  height: 20px;
}

.logo h1 {
  font-size: 20px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


#timer {
  margin-top: 1.5rem;
}

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer .play,
.base-timer .pause {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-8px, 30px);
  cursor: pointer;
  border: none;
  z-index: 1;
}

.base-timer .pause {
  z-index: -1;
}

#reset {
  visibility: hidden;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10px, 55px);
  cursor: pointer;
}

/* .base-timer .setting{
    position: absolute;
    top: 50%;
    left: 50%;
  } */

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 5px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 5px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--font-color-2);
  font-weight: 600;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.btn-container>button {
  width: 80px;
  height: 32px;
}

.btn-container>button:nth-child(1) {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #212529;
  color: #212529;
}

.btn-container>button:nth-child(1):hover {
  color: #fff;
}

.btn-container>button:nth-child(1):hover::after {
  width: 100%;
}

.btn-container>button:nth-child(1)::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #212529;
}

.btn-container>button:nth-child(2) {
  color: #fff;
  width: 6rem;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #212529;
  color: #212529;
}

.btn-container>button:nth-child(2):hover {
  color: #fff;
}

.btn-container>button:nth-child(2):hover::after {
  height: 100%;
}

.btn-container>button:nth-child(2)::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #212529;
}

.btn-container>button:nth-child(3) {
  width: 6rem;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #212529;
  color: #212529;
}

.btn-container>button:nth-child(3):hover {
  color: #fff;
}

.btn-container>button:nth-child(3):hover::after {
  width: 100%;
}

.btn-container>button:nth-child(3)::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #212529;
}

#text {
  font-size: 0.8rem;
}

#text>a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}